@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(../images/rickandmorty2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-attachment: fixed;
}
.navbar {
  background-color: #fff;
}

/* Home page */

.landing {
  color: #ffd300;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10rem 0 0 0;
}

.landing p {
  padding-top: 1em;
  font-size: x-large;
  font-weight: 900;
}

.opening {
  color: #1338be;
  font-weight: 800;
  margin: 3rem 0rem;
}

.quiz-questions {
  padding: 13rem 0 15rem 0;
}

#score-page {
  padding: 6rem 0 15rem 0;
}

div#map,
.join-form {
  min-height: 360px;
  width: 36em;
  display: block;
  margin: 0 auto;
}

.start-quiz-btn,
.next-btn {
  background-color: #ffd300;
  color: black;
  font-size: larger;
  font-weight: 800;
}

.start-quiz-btn {
  margin-bottom: 1em;
}

.start-quiz-btn:hover,
.next-btn:hover {
  background-color: #1338be;
  color: #fff;
}

.try-again-btn {
  background-color: #1338be;
  color: #fff;
  font-size: larger;
  font-weight: 800;
}

.try-again-btn:hover {
  background-color: #ffd300;
  color: #000000;
}

.quit {
  color: #fff;
  font-size: x-large;
  padding: 5px 10px;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
}

.card h2 {
  color: #ffd300;
}

.answer-btn {
  background-color: #ffd300;
  color: #000;
  font-size: large;
  font-weight: 600;
  width: 12rem;
  margin: 5px 5px;
}

.green {
  background-color: forestgreen;
  color: #000;
}

.red {
  background-color: darkred;
  color: #000;
}

.feedback-b {
  color: #fff;
  text-align: center;
}

video {
  display: block;
  margin: 1rem 1rem;
}

/* Club */

.club-page {
  height: 105vh;
}

.join-button {
  background-color: #ffd300;
  color: #000;
  font-size: large;
  font-weight: 600;
  width: 12rem;
  margin: 2em 0;
}

.meet-ups {
  color: #ffd300;
}

.club-heading {
  color: #ffd300;
  padding: 1rem 1rem;
}

.map-section {
  margin: 2rem 0;
}

/** Media queries **/

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .landing,
  #score-page {
    margin-top: 8em;
  }
  .quiz-questions {
    margin-top: 2rem;
  }
  .map-section {
    margin-top: 5em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 720px) {
  .quiz-questions {
    padding-top: 2rem;
  }
  #score-page {
    padding: 5rem 0rem;
  }
  div#map,
  .join-form {
    width: 30em;
  }
}

@media only screen and (min-width: 290px) and (max-width: 414px) {
  .opening {
    margin: 1rem 0rem;
  }
  .start-quiz-btn {
    margin: 1rem 1rem;
  }
  .quiz-questions {
    padding-top: 3rem;
  }
  div#map,
  .join-form {
    width: 18em;
  }
}

@media only screen and (min-width: 280px) and (max-width: 280px) {
  .opening {
    margin: 1rem 0rem;
  }
  .start-quiz-btn {
    margin: 1rem 1rem;
  }
  .quiz-questions {
    padding-top: 3rem;
  }
  div#map,
  .join-form {
    width: 15em;
  }
}
