@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  background-color: #fff;
}

/* Home page */

body {
  background-image: url(../images/rickandmorty2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-attachment: fixed;
}

.landing {
  color: #ffd300;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5rem 2rem;
  height: 45vh;
}

.landing p {
  padding-top: 1em;
  font-size: x-large;
}

.opening {
  color: #1338be;
  font-weight: 800;
  margin: 3rem 0rem;
}

.quiz-questions {
  padding-top: 15rem;
}

#score-page {
  padding-top: 15rem;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .landing,
  #score-page {
    margin-top: 8em;
  }
  .quiz-questions {
    margin-top: 13rem;
  }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 600px) {
  .quiz-questions {
    padding-top: 5rem;
  }
  #score-page {
    padding: 5rem 0rem;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 414px) {
  .landing {
    height: 100%;
  }
  .opening {
    margin: 1rem 0rem;
  }
  .start-quiz-btn {
    margin: 1rem 1rem;
  }
}

.start-quiz-btn,
.next-btn {
  background-color: #ffd300;
  color: black;
  font-size: larger;
  font-weight: 800;
}

.start-quiz-btn {
  margin-bottom: 1em;
}

.start-quiz-btn:hover,
.next-btn:hover {
  background-color: #1338be;
  color: #fff;
}

.try-again-btn {
  background-color: #1338be;
  color: #fff;
  font-size: larger;
  font-weight: 800;
}

.try-again-btn:hover {
  background-color: #ffd300;
  color: #000000;
}

.quit {
  color: #fff;
  font-size: x-large;
  padding: 5px 10px;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
}

.card h2 {
  color: #ffd300;
}

.answer-btn {
  background-color: #ffd300;
  color: #000;
  font-size: large;
  font-weight: 600;
  width: 12rem;
  margin: 5px 5px;
}

.green {
  background-color: forestgreen;
  color: #000;
}

.red {
  background-color: darkred;
  color: #000;
}

.feedback-b {
  color: #fff;
  text-align: center;
}

video {
  display: block;
  margin: 1rem 1rem;
}
